html
{
    background-color: #1f1f1f;
}
body{
    background-color: #1f1f1f; 
}
.boxx{
    background: #1f1f1f; 
    background: #1f1f1f; 
    background-color: #1f1f1f; 
}

.MuiDrawer-paper
{
    color:#1f1f1f;
    background: #1f1f1f; 
    background-color: #1f1f1f; 
    
}
.MuiPaper-root-MuiDrawer-paper {

    background-color: #1f1f1f; 
     color:#1f1f1f;
    background: #1f1f1f; 

}
list{
    background-color: #1f1f1f; 
    color:#1f1f1f;
   background: #1f1f1f; 

}
